<!-- start custom footer snippets -->
<!-- <a href="/sitemap/">Sitemap</a> -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery ||
  document.write('<script src="js/libs/jquery-1.11.3.min.js"><\/script>')</script>
<script type="text/javascript">
  $(document).ready(function(){
  $("a.bibtex").click(function(event) {
  
  var label = $(this);
  /* console.log($(this).parent().text());
  // console.log($(this).nextAll("div.paper-bibtex").first().text()); */
  $(this).nextAll("div.paper-bibtex").first().slideToggle("fast",
  function(){
  if ($(this).is(":visible")) {
  label.text('hide bibtex');    
  } else {
  label.text('bibtex');                
  }
  });
  });

  $("a.abstract").click(function(event) {
  
  var label = $(this);
  /* console.log($(this).parent().text()); */
  /* console.log($(this).nextAll("div.paper-abstract").first().text()); */
  $(this).nextAll("div.paper-abstract").first().slideToggle("fast",
  function(){
  if ($(this).is(":visible")) {
  label.text('hide abstract');    
  } else {
  label.text('abstract');                
  }
  });
  });
  });
</script>


<script type="text/javascript">
  var subtitles = [
  "<hlgt>a</hlgt>utomating <hlgt>pr</hlgt>obabilistic <hlgt>i</hlgt>nference & <hlgt>l</hlgt>earning",
  "<hlgt>a</hlgt>utonomous & <hlgt>p</hlgt>rovably <hlgt>r</hlgt>eliable <hlgt>i</hlgt>ntelligent <hlgt>l</hlgt>earners",
  "<hlgt>a</hlgt>bout <hlgt>p</hlgt>robabilities, <hlgt>r</hlgt>easoning, <hlgt>i</hlgt>ntegrals & <hlgt>l</hlgt>ogic",
  "<hlgt>a</hlgt>lone <hlgt>p</hlgt>attern <hlgt>r</hlgt>ecognition<br/><hlgt>i</hlgt>s<br/><hlgt>l</hlgt>imited",
  "<hlgt>a</hlgt>pril is <hlgt>p</hlgt>robably a <hlgt>r</hlgt>ecursive <hlgt>i</hlgt>dentifier of a <hlgt>lab</hlgt>"
  ];
  var size = subtitles.length;
  var x = Math.floor(size*Math.random());
  $('#lab-acronym').html(subtitles[x]);
</script>

<!-- end custom footer snippets -->
