{% assign post = include.post %}
<div class="paper">
  <div class="paper-data">
    <div class="paper-meta">
      <div class="paper-venue">
        {% if post.award %}
          {{ post.venue }} <note>{{ post.award }}</note>
        {% else %}
          {{ post.venue }}
        {% endif %}
      </div>
      <div class="tags">
        {%- for t in post.tags -%}
        <span class="{{t}}"><a href="{{site.topics_page[t]}}#{{t}}">{{t}}</a></span>
        {%- endfor -%}
      </div>
      </div>
        <div class="paper-title">
          {%- if post.url -%}
            <a href="{{post.url}}">{{ post.title | escape}}</a>
          {%- else -%}
            {{ post.title | escape}}  
          {%- endif -%}  
        </div>
      <div class="paper-authors">
        {{ post.authors }}
      </div>
      {%- if post.excerpt -%}
      <div class="paper-tldr">
        <b><i>tl;dr:</i></b> {{ post.excerpt }}
      </div>
      {%- endif -%}   
      <div class="paper-details">[ <a href="{{ post.pdf }}">paper </a>  
        {%- if post.supplemental -%}
        | <a href="#" class="supplemental">supplemental </a> 
        {%- endif -%}      
        {%- if post.code -%}       | <a href="{{ post.code }}">code </a> 
        {%- endif -%}      
        {%- if post.video -%}       | <a href="{{ post.video }}">video </a> 
        {%- endif -%}  
        {%- if post.poster -%}       | <a href="{{ post.poster }}">poster </a> 
        {%- endif -%}      
        {%- if post.bibtex -%}       | <a href="#{{post.ref}}" class="bibtex">bibtex </a>
        {%- endif -%}      
        {%- if post.abstract -%}       | <a href="#{{post.ref}}" class="abstract">abstract </a>      {%- endif -%}     ]
      <div class="paper-abstract">
        <pre><code>
            {{ post.abstract | lstrip  }}
        </code></pre>
      </div>
      <div class="paper-bibtex">
        <pre><code>
            {{ post.bibtex | lstrip }}                
        </code></pre>
      </div>
    </div>
  </div>
  {%- if post.image -%}
  <div class="paper-image">
    <img src="{{ post.image }}"> 
  </div>
  {%- endif -%}   
</div>
