#current-members{
    display: grid;
    width: 120%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    margin-bottom: 40px;
}

/* On smaller screens, 1 column grid */
@media only screen and (max-width: 500px) {
    #current-members{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 40px;
    }
  }

  @media only screen and (min-width: 500px) and (max-width: 1024px) {
    #current-members{
        display: grid;
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 20px;
        margin-bottom: 40px;
    }
  }

.lab-member{
    width: 100%;
    overflow: hidden;
    display: flex;
}

.lab-member-pic {
    width: 50%;
    float:left; 
}

.lab-member-data {
    width: 80%;
    overflow: hidden;
    padding-left: 10px;
}

.member-name{
    font-size: $type-size-5;
    font-weight: 800;
}

.member-role{
    font-size: $type-size-6;
    color: $april-scottish-salmon;
    font-weight: 600;
}

.member-role-sup{
    font-size: $type-size-6;
    font-style: italic;
}

#visitor-list li {
    font-size: $type-size-6;
}

#visitor-list a{
    font-weight: 600;
}